*{
    margin: 0;
    padding: 0;
}
body{
   background-image: linear-gradient(to bottom, rgb(25, 0, 253), rgb(140, 0, 255));
   background-attachment: fixed;
}
button{
    color: rgb(0, 0, 0);
    background-color: black;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    line-height: 200px;
    width: 500px;
    height: 200px;
    margin: auto;
}
main{
    margin: auto;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.container{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#gerarBotao,#limparBotao{
    text-decoration: none;
    background-color:white;
    box-shadow: 2px 2px  5px black;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s, border 0.3s;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#gerarBotao, #limparBotao{
    color:rgb(0, 0, 0);
    background-color: rgb(195, 0, 255);
    transform: translate(5px 5px);
}
#resultadoTabuada{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    margin: auto;
}
#numeroInput{
    width: 100px;
    margin: auto;
}
